### Q1&Q2 Upload data and load into MySQL

Used PSFTP.

Used commands recommended.

Used DATE format for dates, and other formats as appropriate.

### Q3&Q4 Observe and key all tables

First use id column as primary key for user, subscription and tables:

```
ALTER TABLE subscriptions ADD PRIMARY KEY (id);

ALTER TABLE users ADD PRIMARY KEY (id);

ALTER TABLE purchases ADD PRIMARY KEY (id);
```

And make necessary columns NOT NULL e.g.:

```
ALTER TABLE assignments MODIFY sub_id INT NOT NULL;
```

FOREIGN KEY on subscriptions.id:

```
ALTER TABLE `assignments` 
ADD FOREIGN KEY(`sub_id`) 
REFERENCES subscriptions(id);
```
FOREIGN KEY on users.id:

```
ALTER TABLE `purchases` 
ADD FOREIGN KEY(`user_id`) 
REFERENCES users(id);	

ALTER TABLE `subscriptions` 
ADD FOREIGN KEY(`user_id`) 
REFERENCES users(id);	
```
Join works much better now.

### Q5 What's wrong with data set?

Let's test user signup type against test group assignment.

```
select signup_platform, test_group, COUNT(*) as count_users
from assignments
join subscriptions
on subscriptions.id = assignments.sub_id
join users
on subscriptions.user_id=users.id
group by signup_platform, test_group;

+-----------------+------------+-------------+
| signup_platform | test_group | count_users |
+-----------------+------------+-------------+
| android         | control    |       16233 |
| android         | test       |       16409 |
| ios             | control    |       23444 |
| ios             | test       |       23727 |
| web             | control    |       37242 |
| web             | test       |       37233 |
+-----------------+------------+-------------+

```

Looks OK.

How about sign-ups per month by signup-platform?

```
select count(*) as number,year(start_date) as year,month(start_date) as month,signup_platform 
from subscriptions
join users
on subscriptions.user_id=users.id
group by year(start_date) ,month(start_date) ,signup_platform
```

The result is 123 lines long so I'll show the important part.

```
+--------+------+-------+-----------------+
| number | year | month | signup_platform |
+--------+------+-------+-----------------+
|     14 | 2012 |     1 | web             |
|     32 | 2012 |     2 | web             |
|     69 | 2012 |     3 | web             |
|     99 | 2012 |     4 | web             |
...
|    779 | 2013 |    10 | web             |
|   2188 | 2013 |    11 | web             |
|   2451 | 2013 |    12 | web             |
|     19 | 2014 |     1 | android         |
|     22 | 2014 |     1 | ios             |
|    943 | 2014 |     1 | web             |
|     54 | 2014 |     2 | android         |
|     78 | 2014 |     2 | ios             |
|    913 | 2014 |     2 | web             |
...
```
It looks like android and ios were ignored before 2014. That could be because there were no users, or because the users were lumped together until 2014 and then migrated to a new table after that to segment the users.

Some other possible issues:

Purchases can not be uniquely matched to subscriptions, since users may have multiple subscriptions.

There are ~3x subscriptions starting in november & december compared to other months.

There are 2 duplicate IP addresses.

Most of the names are duplicate/triplicate.

Twice the purchase amount in January compared to any other month.

All the purchases are roughly the same value, wouldn't make sense for a Costco-like store.

### Q6 Evaluate AB Test

First, let's count up the total number of subscriptions that are active in the test period.

We need to select accounts that ended AFTER 2016-07-01, or are still active, end-date = NULL.

```
select test_group, count(*) from 
(
select s.id, test_group from subscriptions s 
join assignments 
on s.id=sub_id 
where ((end_date > '2016-07-01') or (end_date IS NULL))
) as tab
group by test_group;

+------------+----------+
| test_group | count(*) |
+------------+----------+
| control    |    17439 |
| test       |    24933 |
+------------+----------+
2 rows in set (0.00 sec)

```
This seems a little unbalanced, so it appears that the test group and control group are not assigned completely at random. Let's see if there is any counfounding by the number of accounts started after the start date:

```
select test_group, count(*) from 
(
select s.id, test_group from subscriptions s 
join assignments 
on s.id=sub_id 
where ((end_date > '2016-07-01') or (end_date IS NULL))
and (start_date > '2016-07-01')
) as tab
group by test_group;

+------------+----------+
| test_group | count(*) |
+------------+----------+
| control    |     6225 |
| test       |     6432 |
+------------+----------+
2 rows in set (0.15 sec)

```

So the fraction of new users in control is 6225/17439 = 0.3569

And test, 6432/24933 = 0.2579

So... this seems quite skewed. We should restrict the test to only accounts started after the start date.

Now let's address another possible problem. Purchases cannot be uniquely assigned to a subscription. Let's see if any of the users are assigned to duplicate user account

```
select user_id, count(*) from (
select s.id,user_id, test_group 
from subscriptions s 
join assignments 
on 
s.id=sub_id 
where ((end_date > '2016-07-01') or (end_date IS NULL))
and (start_date < '2016-07-01')
) as tab group by user_id having count(*) > 1;

+---------+----------+
| user_id | count(*) |
+---------+----------+
|   57891 |        2 |
|   89857 |        2 |
|  110382 |        2 |
|  121530 |        2 |
|  134665 |        2 |
|  135397 |        2 |
|  136783 |        2 |
|  137577 |        2 |
|  140524 |        2 |
+---------+----------+
9 rows in set (0.00 sec)

```

So there are 9 users (18 subscriptions) that may double-count purchases.

Let's see what the total value of purchases are here to see if this may somehow strongly skew the results.

```
select tabb.user_id, sum(amount) as amount_per_user from
(
    select user_id, count(*) from (
    select s.id,user_id, test_group 
    from subscriptions s 
    join assignments 
    on 
    s.id=sub_id 
    where ((end_date >= '2016-07-01') or (end_date IS NULL))
    and (start_date < '2016-07-01')
    ) as tab group by user_id having count(*) > 1
) as tabb 
join purchases
on tabb.user_id = purchases.user_id
group by user_id;

Empty set (0.17 sec)

```

So none of these double account users actually made purchases, so there's no need to actually take them out.

Now let's finally count up the summary statistics, average and standard dev of purchase amount per subscriber.

Something to note: we need to restrict user accounts AND purchases by date.

```
select test_group, avg(tot_per_user) as avg, stddev(tot_per_user) as std from
(
    select user_id,sum(amount) as tot_per_user,test_group from
    (
        select s.id,s.user_id,IFNULL(p.amount, 0) as amount,a.test_group,p.date
        from subscriptions s 
        join assignments a
        on s.id=sub_id 
        left join purchases p
        on p.user_id = s.user_id 
        where ((end_date >= '2016-07-01') or (end_date IS NULL))
        and ((p.date >= '2016-07-01') or (p.date IS NULL))
        and (start_date < '2016-07-01')
    ) as sums
    group by user_id
) as final
group by test_group;

+------------+-----------+----------+
| test_group | avg       | std      |
+------------+-----------+----------+
| control    | 10.515799 | 9.998874 |
| test       |  6.403731 | 9.386374 |
+------------+-----------+----------+

```

WOW! Looks like this change is pretty bad! Abort immediately. Let's just check without removing the user accounts started after the start date:

```

select test_group, avg(tot_per_user) as avg, stddev(tot_per_user) as std from
(
    select user_id,sum(amount) as tot_per_user,test_group from
    (
        select s.id,s.user_id,IFNULL(p.amount, 0) as amount,a.test_group,p.date
        from subscriptions s 
        join assignments a
        on s.id=sub_id 
        left join purchases p
        on p.user_id = s.user_id 
        where ((end_date >= '2016-07-01') or (end_date IS NULL))
        and ((p.date >= '2016-07-01') or (p.date IS NULL))
    ) as sums
    group by user_id
) as final
group by test_group;

+------------+-----------+-----------+
| test_group | avg       | std       |
+------------+-----------+-----------+
| control    | 12.713398 | 10.963197 |
| test       |  9.343056 | 11.220407 |
+------------+-----------+-----------+

```

Still bad! OK now let's do the t-test of significance.

The test statistic will be:

$t_{n1+n2-2} = \dfrac { \overline{X_1} - \overline{X_2} } { \sigma \sqrt { \tfrac{1}{n_1} + \tfrac{1}{n_12} } } $

Assuming that the distributions have roughly equal variance (and they appear to).

Note, the underlying population distributions are definitely not normal, and appear to have right-skew, but the sample means should be approximately normal because we have high numbers of samples.

Let's get the actual number of units in each sample:

```
select test_group, count(*) from 
(
select s.id, test_group from subscriptions s 
join assignments 
on s.id=sub_id 
where ((end_date > '2016-07-01') or (end_date IS NULL))
and (start_date < '2016-07-01')
) as tab
group by test_group;

+------------+----------+
| test_group | count(*) |
+------------+----------+
| control    |    11117 |
| test       |    18395 |
+------------+----------+


```

In [8]:
from scipy.stats import t

tval = (10.33 - 6.26)/(9.5)/((1/11117.0 + 1/18395.0)**0.5)
print 't-statistic =', tval

print 'cumulative distribution = ', t.cdf(tval, 11117 + 18395, loc=0, scale=1)
p = 2* (1-t.cdf(tval, 11117 + 18395, loc=0, scale=1))
print 'p-val = ', p

t-statistic = 35.6627789552
cumulative distribution =  1.0
p-val =  0.0

Now let's do a power calculation. Let's just do a calculation on what kind of sample size we would need to detect the kind of difference we have with 80% power.

So in other words $P(t_{stat} > t_{crit} | \mu_1 - \mu_2 = 4.07) = 80\%$

For a 2 sided t-test, t-crit ~ 2 (depending on df, we can check this assumption later).

The true calculation here is:

$P(t_{df} > (2 - E[t_{stat}]) = 0.8$

Here we will simplify the t-distribution to a normal one, (we can check the validity of this later).

So we are looking for a value that a random normal will be greater than, 80% of the time.

This is just $CDF^{-1}(0.2) = -0.841621$

$2 - \dfrac{4.07}{9.5\sqrt{\tfrac{2}{n}}} = -0.841621$

Where n is the number in each sample (assuming equal).

$ n = ((2+0.84)*\sqrt2 * 9.5 / 4.07)^2 $

$(2.84*1.41*9.5/4.07)^2 = 87 $ so we expect to get 80% power with n~90, we have more than 10,000.

The assumption of normality holds up. At $df\sim2*90$, the t-distribution is nearly normal.

### Q7 Company evaluation

We can look at how sales are changing month to month:

```
select sum(amount) from purchases group by month(date);

+-------------+
| sum(amount) |
+-------------+
|   254272.05 |
|   164846.26 |
|   110667.99 |
|   104222.72 |
|   141337.98 |
|   141637.65 |
|   160638.66 |
|   166556.71 |
|     5380.47 |
+-------------+

```

There's a steep dropoff after January, (after-holiday sales?) but otherwise it looks mostly stable-ish. 

Also, we can count number of subscriptions beginning (and that have ended) in each year:

```
select year(start_date), count(*) as total, count(end_date) as churned from subscriptions group by year(start_date); 


+------------------+-------+---------+
| year(start_date) | total | churned |
+------------------+-------+---------+
|             2012 |  3870 |    3828 |
|             2013 | 10815 |   10564 |
|             2014 | 31351 |   30121 |
|             2015 | 62568 |   56017 |
|             2016 | 45684 |   22751 |
+------------------+-------+---------+

```

So it looks like overall there is pretty healthy growth in new subscriptions overall, but the churn seems high... only ~10% of subscriptions starting in 2015 are still current. About 50% of subscriptions this year have already churned.

### Q8 Active user table

First create a date table with all dates from:

1/9/2012 - 9/1/2016
```
DROP PROCEDURE IF EXISTS filldates;
DELIMITER |
CREATE PROCEDURE filldates(dateStart DATE, dateEnd DATE)
BEGIN
  WHILE dateStart <= dateEnd DO
    INSERT INTO _date (datelist) VALUES (dateStart);
    SET dateStart = date_add(dateStart, INTERVAL 1 DAY);
  END WHILE;
END;
|
DELIMITER ;
CALL filldates('2012-01-09','2016-09-01');

SELECT * FROM _date;

...
| 2016-08-27 |
| 2016-08-28 |
| 2016-08-29 |
| 2016-08-30 |
| 2016-08-31 |
| 2016-09-01 |
+------------+
```

Try to make the table

```
SELECT 
user_id, 
datelist as date, 
    (case 
    when end_date IS NULL
    then TRUE
    when (end_date IS NOT NULL) and (datelist<end_date)
    then TRUE
    else FALSE
    end) as is_active ,
start_date as signup_date,
signup_platform  
from subscriptions 
join _date 
on start_date<datelist 
join users 
on users.id = user_id
WHERE user_id BETWEEN 100000 AND 105000;

|  104997 | 2016-09-01 |         0 | 2015-12-25  | ios             |
|  104998 | 2016-09-01 |         0 | 2015-12-25  | ios             |
|  104999 | 2016-09-01 |         0 | 2015-12-25  | ios             |
|  105000 | 2016-09-01 |         0 | 2015-12-25  | ios             |
+---------+------------+-----------+-------------+-----------------+
1288429 rows in set (1.97 sec)

(FALSE evaluates to 0)

```

...and MySQL crashes if you don't restrict user_id

One problem with this query is that there will be duplicate rows because of the users/subscriptions problem. For example, on a given day, a user's old subscription will be inactive (is_active = False), but their new one could be active (is_active = True).

To solve this, we can use max(is_active) as is_active, and group by user_id. $Max(True,False) = True$, so if the user has at least one active subscription on that day, they will be counted as active.

```
SELECT 
user_id, 
datelist as date, 
    max(case 
    when end_date IS NULL
    then TRUE
    when (end_date IS NOT NULL) and (datelist<end_date)
    then TRUE
    else FALSE
    end) as is_active ,
start_date as signup_date,
signup_platform
from subscriptions 
join _date 
on start_date<datelist 
join users 
on users.id = user_id
WHERE user_id BETWEEN 100000 AND 105000
GROUP BY users.id,date;
LIMIT 30;

|  105000 | 2016-08-29 |         0 | 2015-12-25  | ios             |
|  105000 | 2016-08-30 |         0 | 2015-12-25  | ios             |
|  105000 | 2016-08-31 |         0 | 2015-12-25  | ios             |
|  105000 | 2016-09-01 |         0 | 2015-12-25  | ios             |
+---------+------------+-----------+-------------+-----------------+
1284690 rows in set (14.92 sec)

```

Warning: this query is much slower. I did it all through once to look at the number of rows and compare. As expected there are a few less rows in this one because it eliminates the duplicate user rows.

To make it more efficient you could only add today's entries. Entries from the past would not change.

Let's count churn by date.

```
SELECT end_date, count(end_date) as num_churn from subscriptions group by end_date;

+------------+-----------+
| end_date   | num_churn |
+------------+-----------+
...
...
...
| 2016-08-24 |       182 |
| 2016-08-25 |       178 |
| 2016-08-26 |       185 |
| 2016-08-27 |       187 |
| 2016-08-28 |       196 |
| 2016-08-29 |       182 |
| 2016-08-30 |       189 |
| 2016-08-31 |       185 |
| 2016-09-01 |       176 |
+------------+-----------+
```

### Q9 Annual vs monthly

We can look at the purchase amount this year, grouped by subscription type:

```
select sum(amount), sub_type 
from purchases 
join subscriptions 
on subscriptions.user_id = purchases.user_id 
group by sub_type;

+-------------+----------+
| sum(amount) | sub_type |
+-------------+----------+
|    91742.75 | annual   |
|  1178183.30 | monthly  |
+-------------+----------+

```
So at the moment we definitely get more sales from monthly subscribers. But how is the trend over time?

```
select sum(amount),month(purchases.date) ,sub_type
from purchases 
join subscriptions 
on subscriptions.user_id = purchases.user_id 
group by sub_type,month(purchases.date);

+-------------+-----------------------+----------+
| sum(amount) | month(purchases.date) | sub_type |
+-------------+-----------------------+----------+
|    10220.28 |                     1 | annual   |
|    10203.81 |                     2 | annual   |
|     8785.60 |                     3 | annual   |
|     8722.01 |                     4 | annual   |
|    11401.93 |                     5 | annual   |
|    12079.09 |                     6 | annual   |
|    14386.55 |                     7 | annual   |
|    15425.77 |                     8 | annual   |
|      517.71 |                     9 | annual   |
|   247112.58 |                     1 | monthly  |
|   156842.20 |                     2 | monthly  |
|   104078.02 |                     3 | monthly  |
|    97504.86 |                     4 | monthly  |
|   132539.72 |                     5 | monthly  |
|   131965.19 |                     6 | monthly  |
|   149088.15 |                     7 | monthly  |
|   154105.76 |                     8 | monthly  |
|     4946.82 |                     9 | monthly  |
+-------------+-----------------------+----------+

```
Besides an odd fluke at the beginning of the year, there appears to be similar growth, but annual appears to have the edge.

We can also look at growth rates and churn for different subscription types:

```
select count(end_date) as churned,count(*) as total, year(start_date) as year, sub_type
from subscriptions
group by year(start_date),sub_type;

+---------+-------+------+----------+
| churned | total | year | sub_type |
+---------+-------+------+----------+
|     294 |   336 | 2012 | annual   |
|    3534 |  3534 | 2012 | monthly  |
|     990 |  1241 | 2013 | annual   |
|    9574 |  9574 | 2013 | monthly  |
|    2147 |  3370 | 2014 | annual   |
|   27974 | 27981 | 2014 | monthly  |
|    2258 |  7386 | 2015 | annual   |
|   53759 | 55182 | 2015 | monthly  |
|       0 |  7500 | 2016 | annual   |
|   22751 | 38184 | 2016 | monthly  |
+---------+-------+------+----------+

```
Annual subscribers churn much more slowly, and appear to be growing a little bit faster. Soat the moment there are ~20,000 monthly users and ~12,000 annual users, but that will change over time. In the long run annual users will overtake, if trends hold. However, in the short run monthly users make much more purchases.

For the short term, the change should definitely be made. Expected revenue increase would be ~ 0.10 * (1,200,000 - 100,000) = 110,000. Annualized this would be about 110,000/8*12 = 165,000

In the long run, if annual users continue to grow, the change should be reversed.